
*{
    font-family: "Momo Signature", cursive;
}


header{
    background-color: #489ee4;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1 {
    color: white;
    margin: 0;
}

h1 {
    color: rgb(183, 70, 70);
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    display : inline-block ;
    margin: 0 15px ;
}
img {
width: 100%;
height: max-content;
max-width: 100%;
object-fit: cover;
filter: opacity(20%);
border-style:circle;
}
.Sobre-nos {
    width: 80%;
    margin: auto;
    text-align: center;
    border-style: solid;
}

.paragrafo-texto{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    text-align: center;
}


